

@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroy/Gilroyextrabold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroy/Gilroylight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/open_sans/OpenSans-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroy/Gilroyextrabold.woff) format("woff");
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroy/Gilroylight.woff) format("woff");
    font-weight: 100;
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/open_sans/OpenSans-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/open_sans/OpenSans-Light.woff) format("woff");
    font-weight: 100;
}

.container {
	width: 1160px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear:both;
}

.header {
	width: 1040px;
	padding: 0 60px;
	margin-top: 40px;
	background: #ffe27f;
	box-shadow: inset 0 23px 0 0 white;	
}

.logo {
	width: 190px;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	letter-spacing: .01em;
	text-transform: uppercase;
	margin-left: -2px;
}

.logo a {
	text-decoration: none;
}

.logo-header a {
	color: #000;
	text-decoration: none;
}

.logo-inactive {
	cursor: default;
}

.logo-header a:hover {
	color: #444;
}

.logo-header a:active {
	color: #666;
}

.top-menu {
	width: 1040px;
	margin-top: 10px;
}

.search-form {
	position: relative;
	float: left;
}

.search-form:hover {
	border-bottom: 2px solid #000;
}

#search {
	width: 355px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: .012em;
	line-height: 36px;
	vertical-align: bottom;
	padding-left: 36px;
	padding-bottom: 0;
	background: #ffe27f;
	border: none;
}

.search-form:before {
	position: absolute;
	top: 18px;
  left: 4px;
	content: "";
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 0;
}

#search-bttn {
	display: none;
	width: 85px;
	height: 48px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 36px;
	background: #ffe27f;
	border: 2px solid #000;
	border-bottom: none;
}
.search-form:hover #search-bttn{
	display: inline-block;
}

#search-bttn:hover {
	background-color: #000;
	color: #fff;
}

#search-bttn:active {
	background-color: #000;
	color: rgba(255, 255, 255, 0.3);
}

.header-user-block {
	width: 500px;
	float: right;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 36px;
	text-align: right;
	padding-top: 6px;
  padding-bottom: 15px;
}

.header-user-link {
	position: relative;
	padding-left: 23px;
	text-decoration: none;
	color: #000;
}

.enter {
	float: left;
	margin-left: 0;
}

.exit {
	float: left;
	opacity: 0.3;
}

.header-user-link .compare {
	float: left;
}

.basket {
	float: right;
	margin-left: 36px;
}

.header-user-link:hover {
	opacity: 0.5;
}

.header-user-link:active {
	opacity: 0.3;
}

.enter::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -26px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -48px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -68px;
}

.header-nav {
	width: 1040px;
	padding-bottom: 25px;
}

.menu {
	width: 1040px;
	padding-left: 0;
}

.menu a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: .2em;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.menu a:hover {
	opacity: 0.6
}

.menu a:active {
	opacity: 0.3
}

.menu li {
	float: left;
	list-style: none;
}

.menu .menu-contacts {
	float: right;
}

.menu .menu-catalog {
	position: relative;
	z-index: 1;
	padding-right: 25px;
	margin-right: 297px;
	cursor: pointer;
}

.menu .menu-warranty {
	margin-left: 34px;
}

.menu .menu-contacts {
	margin-right: -4px;
}

.menu .menu-catalog::after {
	position: absolute;
	top: 10px;
  right: 0;
	content: "";
  width: 17px;
  height: 17px;
	background: url(../img/sprite.png) no-repeat 0 -90px;
}

.nav-bttm {
	margin-left: 30px;
}

.menu-catalog:hover .sub-menu {
	display: block;
}

.menu-catalog:hover::after .sub-menu {
	display: block;
}

.sub-menu {
	display: none;
	position: absolute;
	z-index: 100;
	width: 1100px;
	padding-top: 10px;
	padding-bottom: 39px;
	padding-left: 60px;
	margin-left: -60px;
	background-color: #ffe27f;
}

.sub-menu-row {
	float: left;
	width: 210px;
	padding: 0; 
}

.sub-menu-row:first-child {
	padding-right: 40px;
}

.sub-menu a {
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0;
	text-transform: none;
}
/*==============================================================================================*/
 /*слайдер товаров*/

.slider {
	position: relative;
	width: 1160px;
	min-height: 500px;
	margin-top: 0;
	margin-bottom: 100px;
}

.slide {
	position: absolute;
	width: 1160px;
	min-height: 480px;
}

.number-background {
	position: relative;
  width: 1110px;
  height: 115px;
  background: #ffe27f;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  font-size: 179px;
  line-height: 160px;
  text-align: right;
  padding-right: 50px;
  color: #fff;
}

.number-background:before {
	width: 100px;
	height: 7px;
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: 42px;
	right: 461px;
	z-index: 1;
	background: white;
}

.slider-inner {
	position: relative;
	margin-top: -110px;
}

.img-block {
	float: left;
	width: 530px;
	text-align: center;
	margin-left: 16px;
}


.slider-text {
	float: right;
	width: 500px;
	margin-right: 62px;
	margin-top: 40px;
}

.slider-text .kvadrokopter {
	width: 500px
}

.slider-text  h2 {
	width: 400px;
	font-family:  "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 47px;
	line-height: 55px;
	margin-bottom: 20px;
}

.device-description {
	width: 480px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 53px;
}

.line-through {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
  margin-left: 44px;
}

.line-through:after {
  content: "";
  display: table;
  width: 220px;
  height: 8px;
  background: #ffc600; 
  margin-top: -15px;
}

.line-through:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -17px;
  background: #ffc600;
}

.line-through:active {
  color: rgba(0, 0, 0, 0.3);
}

.device-table {
	width: 500px;
}

.table-row {
	display: inline-block;
	margin-right: 70px;
	margin-top: 35px;
}

.up-cell {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 100;
	font-size: 36px;
	line-height: 64px;
	margin: 0;
}

.down-cell {
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 13px;
	line-height: 13px;
	margin-top: 5px;
}

.slide {
	display: none;
    
}

.slide:first-child {
    display: block;
}
/*==============================================================================================*/
/*список категорий товаров*/

.category-list {
	width: 1160px;
	padding: 0;
	margin-bottom: 90px;
}

.category-list li {
	float: left;
	list-style: none;
	text-align: left;
	margin-left: 40px;
	padding: 0;
}

.category-list li:first-child{
	margin-left: 0;
}

.category-icon {
	display: inline-block;
	position: relative;
	width: 160px;
	height: 160px;
}

.category-list .visual-reality {
	background: #ffe27f url(../img/popular-1.png) no-repeat 50% 50%;
}

.category-list .monopods {
	background: #ffe27f url(../img/popular-2.png) no-repeat 50% 45px;
}

.category-list .cameras {
	background: #ffe27f url(../img/popular-3.png) no-repeat 50% 50%;
}

.category-list .bracelet {
	background: #ffe27f url(../img/popular-4.png) no-repeat 50% 50%;
}

.category-list .watches {
	background: #ffe27f url(../img/popular-5.png) no-repeat 50% 50%;
}

.category-list .quadrocopters {
	background: #ffe27f url(../img/poppular-6.png) no-repeat 50% 50%;
}

.category-icon a {
	position: absolute;  
  top: 0;  
  left: 0; 
  z-index: 1;  
  display: block;  
  width: 100%;  
  height: 100%;     
}

.category-text {
	display: block;
	width: 150px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
	color: #000;
	margin-top: 35px;
}
/*==============================================================================================*/
/* слайдер-услуг*/

.service-background {
	width: 100%;
	height: 288px;
	padding-bottom: 90px;
	background: #e6e6e6;
	box-shadow: inset 0 100px 0 0 white;
}

.service-bttms{
	float: left;
	width: 255px;
	min-height:320px;
	padding-right: 22px;
	border: none;
	border-right: 7px solid black;
}

.service-line-through {
	display: inline-block;
	width: 165px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	text-align: center;
	margin-bottom: 51px;
	cursor: pointer;
}

.shipping {
	margin-top: 91px;
}

.service-line-through:after {
  content: "";
  display: table;
  width: 220px;
  height: 8px;
  background: #ffc600; 
  margin-top: -13px;
}

.shipping-active {
	color: #ffc600;
}

.shipping-active::after {
	width: 280px;
  height: 40px;
  margin-top: -30px;
  margin-bottom: -15px;
  background-color: #000;
}

.service-bttms .shipping-active:hover::after {
	width: 280px;
  height: 40px;
  margin-top: -30px;
  margin-bottom: -15px;
  background-color: #000;
}

.service-line-through:hover::after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -15px;
  background: #ffc600;
}
.service-line-through:active {
	color: #ffc600;
}

.service-line-through:active::after {
	width: 280px;
  height: 40px;
  margin-top: -30px;
  margin-bottom: -15px;
  background: #000;
}

.service-slider {
	position: relative;
	width: 1160px;
}

.service-slide {
	position: absolute;
	right: 0;
	float: right;
	width: 510px;
	margin-top: 30px;
	padding-right: 250px;
}

.delivery-slide:after {
	content: "";
	position: absolute;
	top: 55px;
	right: 65px;
	width: 136px;
	height: 164px;
	background: url(../img/delivery.png) no-repeat;
}

.warranty-slide:after {
	content: "";
	position: absolute;
	top: 55px;
	right: 65px;
	width: 171px;
	height: 195px;
	background: url(../img/warranty.png) no-repeat;
}

.credit-slide:after {
	content: "";
	position: absolute;
	top: 55px;
	right: 65px;
	width: 156px;
	height: 188px;
	background: url(../img/credit.png) no-repeat;
}

.service-slide h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 47px;
	line-height: normal;
	margin-bottom: 25px;
}

.service-slide p {
	width: 420px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 30px;
}

.service-slide {
	display: none;
}

.delivery-slide {
	display: block;
}

/*==============================================================================================*/
/*блок партнеров*/

.partner {
	width: 1160px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0;
}

.partner-link {
	position: relative;
	display: inline-block;
	margin-left: 17px;
	margin-right: 17px;
}

.partner-link .img-active {
	opacity: 0;
}

.img-opacity {
	position: absolute;
	top: 0;
	left: 0;
}

.partner-link:first-child {
	margin-left: 0;
}

.partner-link:last-child {
	margin-right: 0;
}

.partner-link:hover .img-active {
	opacity: 1;
}



/*==============================================================================================*/
/*Блок "Информацыя о компании"*/

.company-info {
	width: 1160px;
	margin-bottom: 92px;
}

.company-info h2 {
	 font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 47px;
	line-height: 53px;
}

.company-info p {
	width: 490px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	margin-top: 30px;
}

.company-info .contacts p {
	width: 540px;
}

.about-us {
	position: relative;
	float: left;
}

.about-us:before {
	width: 80px;
	height: 7px;
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: -13px;
	left: 0;
	z-index: 1;
	background: #000;
}

.contacts {
	position: relative;
	float: right;
}

.contacts:before {
	width: 80px;
	height: 7px;
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: -13px;
	left: 0;
	z-index: 1;
	background: #000;
}

.contacts p {
	width: 540px;
}

.delivery-list {
	margin-top: 62px;
	margin-bottom: 70px;
	padding-left: 0;
}

.company-info .delivery-list li {
	position: relative;
	display: block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 30px;
	padding-top: 10px;
	padding-left: 35px;
	list-style: none;
}

.delivery-list li:before {
	position: absolute;
	top: 17px;
	left: 0;
	width: 4px;
  height: 4px;
  content:"";
  float:left;
  margin:1px;
  border: 3px solid #000;
  border-radius: 50%;
	opacity: 0.3;
}

.about-us-bttm-line {
	display: inline-block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
  margin-left: 20px;
}

.about-us-bttm-line:after {
  content: "";
  display: table;
  width: 260px;
  height: 8px;
  background: #ffc600; 
  margin-top: -14px;
  margin-left: -20px;
}

.about-us-bttm-line:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -17px;
  background: #ffc600;
}

.about-us-bttm-line:active {
  color: rgba(0, 0, 0, 0.3);
}

.contacts img {
	margin-top: 25px;
	margin-bottom: 76px;
}


.contacts-bttm-line {
	display: inline-block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
  margin-left: 40px;
}

.contacts-bttm-line:after {
  content: "";
  display: table;
  width: 260px;
  height: 8px;
  background: #ffc600; 
  margin-top: -14px;
  margin-left: -40px;
}

.contacts-bttm-line:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -17px;
  background: #ffc600;
}

.contacts-bttm-line:active {
  color: rgba(0, 0, 0, 0.3);
}

/*==============================================================================================*/
/*Футер*/

.main-footer {
	width: 100%;
	background: #444;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-top {
	width: 1160px;
}

.footer-logo a {
	float: left;
	color: #ffe27f;
}

.footer-logo a:hover {
	color: #ffc600;
}

.footer-logo a:active {
	opacity: 0.3;
}

.footer-user-block {
	width: 360px;
	float: right;
	text-align: right;
}

.footer-user-link {
	position: relative;
	display: inline-block;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 36px;
	color: white;
	text-decoration: none;
	padding-left: 20px;
	margin-left: 35px;
	opacity: 0.7;
}
.footer-user-link::before {
	content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat;
}

.enter-footer::before  {
	background-position: 0px -340px;
}

.compare-footer::before  {
	background-position: 0px -318px;
}

.basket-footer::before  {
	background-position: 0px -298px;
}

.enter-footer:hover:before {
	background: url(../img/sprite.png) no-repeat 0 -362px;
}

.compare-footer:hover:before {
	background: url(../img/sprite.png) no-repeat 0 -384px;
}

.basket-footer:hover:before {
	background: url(../img/sprite.png) no-repeat 0 -404px;
}

.enter-footer:active:before {
	background: url(../img/sprite.png) no-repeat 0 -362px;
	opacity: 0.3;
}

.compare-footer:active:before {
	background: url(../img/sprite.png) no-repeat 0 -384px;
	opacity: 0.3;
}

.basket-footer:active:before {
	background: url(../img/sprite.png) no-repeat 0 -404px;
	opacity: 0.3;
}

.footer-middle {
	width: 1160px;
}

.addres {
	display: inline-block;
}

.addres a {
	width: 250px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 32px;
	color: #fff;
	text-decoration: none;
}

.footer-nav {
	display: inline-block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	margin-left: 105px;
	margin-right: 105px;
	padding-top: 2px;
}

.footer-nav li {
	display: inline-block;
	list-style: none;
	margin: 10px 14px;
}
.footer-nav .footer-contacts {
	margin-left: 20px;
}

.footer-nav a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fff;
}

.footer-nav a:hover {
	opacity: 0.6;
}

.footer-nav a:active {
	opacity: 0.3;
}

.phone {
	display: inline-block;
	text-align: right;
	margin-left: 68px;
}

.phone a {
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}

.phone a:hover {
	opacity: 0.6;
}

.phone a:active {
	opacity: 0.3;
}

.footer-bottom {
	position: relative;
	width: 1160px;
	margin-top: 35px;
	text-align: center;
	vertical-align: middle;
}

.footer-bottom:before {
	content: "";
	display: block; 
	position: absolute;
	top: 17px;
	width: 80px;
	height: 7px;
	background-color: #ffe27f;
}

.social-block {
	display: inline-block;
	width: 196px;
	margin-left: 15px;
}

.social-bttn {
	margin-right: 12px;
	text-decoration: none;
	opacity: 0.3;
}

.social-bttn:hover {
	opacity: 1;
}

.social-bttn:active {
	opacity: 0.1;
}

.html-academy {
	content: "";
	display: block; 
	position: absolute;
	top: 4px;
	right: 0;
	width: 27px;
	height: 34px;
	margin-left: 440px;
	background: url(../img/sprite2.png) no-repeat 0 0;
}

.html-academy a {
	position: absolute;  
  top: 0;  
  left: 0; 
  z-index: 1;  
  display: block;  
  width: 100%;  
  height: 100%;     
}

.html-academy:hover {
	background-position: 0 -44px;
}

.html-academy:active {
	background: url(../img/sprite2.png) no-repeat 0 -44px;
	opacity: 0.3;
}
/*==============================================================================================*/
/*Страница каталога*/

.content-head h1 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 47px;
	line-height: 60px;
	letter-spacing: .012em;
	margin-left: 60px;
	margin-bottom: 12px;
}
/*==============================================================================================*/
/*Хлебные крошки*/

.content-head .breadcrumbs {
	margin-top: 0;
	padding: 0;
	margin-left: 60px;
	margin-bottom: 40px;
	list-style: none;
}

.breadcrumbs li {
  position: relative;
	display: inline-block;
	margin-right: 33px;
}

.breadcrumbs a {
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 36px;
	text-decoration: none;
	color: #000;
	opacity: 0.3;
}

.breadcrumbs li:hover {
	opacity: 0.6;
}

.breadcrumbs li:active {
	opacity: 0.1
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -18px;
  z-index: 1;
	width: 4px;
  height: 4px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child::after {
  display: none;
}

/*==============================================================================================*/
/**/

.chapter-name {
	position: relative;
	z-index: 13;
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 4px;
	text-transform: uppercase; 
	color: #000;
}

.catalog-wrap {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.column-filter {
  float: left;
  width: 268px;
  padding-left: 60px;
}

.catalog-header {
  float: right;
  width: 760px;
  position: relative;
}

.catalog-header a{
	position: relative;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 100;
	font-size: 16px;
	line-height: 20px;
	margin-right: 26px;
	text-decoration: none;
	color: #000;
}

.sort-bttm-block {
	position: relative;
	float: right;
	list-style: none;
}

.sort-bttm {
	display: inline-block;
	width: 17px;
	height: 10px;
	background: url(../img/sprite2.png) no-repeat 0 -124px;
	opacity: 0.2;
}

.sort-up {
	margin-right: 25px;
	transform: rotate(180deg);
}

.sort-bttm:hover {
opacity: 0.4;
}

.active {
	opacity: 1;
}

.filter-title {
  position: relative;
  padding: 25px 0;
}

.filter-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  margin-left: calc(50% - 50vw);
  background: #ddd;
}

.filter-form {
	position: relative;
	height: 1215px;
}

.filter-form #sort-form {
	position: relative;
	padding-top: 32px;
}


.filter-form:before {
	content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  margin-left: calc(50% - 50vw);
  background-color: rgba(239, 239, 239, 0.8);
}

.catalog-sort {
	padding: 25px 0;
}

.catalog-sort .chapter-name {
	margin-right: 59px;
}

.catalog-sort::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: -72px;
  right: 0;
  margin-right: calc(588px - 50vw);
  background-color: rgba(239, 239, 239, 1);
}

.catalog-content {
	float: right;
  width: 800px;
  margin-top: 15px;
}

/*____________________________________________________________________________*/

.section-name {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.section-name::before {
	z-index: 1000;
	content: "";
	display: table;
	width: 200px;
	height: 2px;
	margin-top: 38px;
	margin-bottom: 5px;
	background-color: #000;
}

.range-filter {
  width: 200px;
}

.range-controls {
  position: relative;
  height: 10px;
  padding-top: 32px;
  border-radius: 5px;
  background-color: rgba(239, 239, 239, 0.8);
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(220, 220, 220, 1);
}

.range-controls .bar {
  width: 75%;
  height: 2px;
  background-color: #72ca00;
}

.range-controls .toggle {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: rgba(239, 239, 239, 1);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.75)
}

.range-controls .toggle:active {
	background-color: #72ca00;
	border: 2px solid #fff;
}

.range-controls .toggle-max {
  left: 110px;
}

.range-controls .toggle-min {
  left: -2px;
}

.price-controls {
  font-size: 0;
  opacity: 0.2;
}

.price-controls label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 100;
  font-size: 14px;
  display: inline-block;
}

.max-price {
  text-align: left;
  margin-left: 15px;
}

.price-controls input {
  font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 100;
  font-size: 14px;
  width: 35px;
  text-align: left;
  color: #283136;
	margin-right: 20px;
	margin-bottom: 3px;
  background-color: rgba(239, 239, 239, 0.8);
  border: none;
}
/*__________________________________________________________________*/
.checkbox-row {
	list-style: none;
	padding-left: 0;
	margin-top: 23px;
}

.checkbox-row li {
	margin-top: 17px;
}

.checkbox,
.radio {
  display:none;            
}

.checkbox + label, 
.radio  + label {
	font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}

.checkbox + label::before{
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  margin: 0 15px 0 0;
	vertical-align: middle;
  background-color: #dcdcdc;
}

.checkbox-row .radio-yes {
	margin-top: 25px;
}

.radio + label::before {
	content: "";
  display: inline-block;
  height: 19px;
  width: 19px;
  margin-right: 15px;
  vertical-align: middle;
	border: 2px solid #dcdcdc;
	border-radius: 50%;
}

.radio + label:hover::before {
	border-color: #cfcfcf;
}

.radio+ label:active::before {
	border-color: #c5c5c5;
}

.radio:checked + label:hover::before {
	border-color: #cfcfcf;
}

.radio:checked + label:active::before {
	border-color: #c5c5c5;
}

.checkbox:checked + label::before {
	background-image: url(../img/sprite2.png);
  background-repeat: no-repeat;
  background-position: 6px -80px;
}

.radio:checked + label::before {
	background-image: url(../img/sprite2.png);
  background-repeat: no-repeat;
  background-position: 5px -100px;
}

.checkbox + label:hover::before {
	background-color: #cfcfcf;
}

.checkbox + label:active::before {
	background-color: #c5c5c5;
}

.checkbox:checked + label:hover::before {
	background-color: #cfcfcf;
}

.checkbox:checked + label:active::before {
	background-color: #c5c5c5;
}

.submit {
	position: relative;
	z-index: 1;
  width: 200px;
  height: 40px;
	display: block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 40px;
  cursor: pointer;
}

.submit::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%; 
  height: 20%;
  background-color: #f0c52e;
}

.submit:hover:before {
	top: 0;
	height: 100%;
}

.submit:active {
	opacity: 0.6;
	
}


/*--------------------------------------------------------------------------------------------*/
.item-block{
	position: relative;
	float: left;
	width: 360px;
	margin-top: 55px;
	margin-left: 40px;
}
	padding: 0;
}

.item-image {
	position: relative;
}

.item-internal-block {
	position: absolute;  
  top: 0;  
  left: 0; 
  z-index: 1;   
  width: 100%;  
  height: 85%;
  padding: 0;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}

.item-internal-block:hover {
	opacity: 1;
	background-color: rgba(239, 239, 239, 0.7);
}

.item-internal-block a {
	display: block;
}

.add-to-bucked {
	display: inline-block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	margin-top: 180px;
	opacity: 1;
}

.add-to-bucked:after {
  content: "";
  display: table;
  width: 220px;
  height: 8px;
  background: #ffc600; 
  margin-top: -13px;
  margin-left: 70px;
  opacity: 1;
}
.add-to-bucked:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -15px;
  background: #ffc600;
  opacity: 1;
}

.add-to-bucked:active {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.compare-item {
	display: inline-block;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 13px;
	line-height: 13px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	margin-top: 29px;
	opacity: 0.5
}

.compare-item:hover {
	opacity: 1;
}

.compare-item:active {
	opacity: 0.2;
}

.item-caption{
	margin-top: 30px;
}


.item-caption a {
	float: left;
	width: 254px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #000;
	text-decoration: none;
}

.item-caption span {
	float: right;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 100;
	font-size: 16px;
	line-height: 30px;
	color: #000;
	text-decoration: none;
}

/*________________________________________________________*/

.pagination {
	float: right;
	width: 760px;
	margin-top: 40px;
	background-color: #eee;
	list-style: none;
	text-align: center;
	padding-left: 0;
}

.pagination li {
	display: inline-block;
}

.pagination a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2px;
	letter-spacing: 3.5px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.content-prev  {
	float: left;
	width: 85px;
  padding: 25px 20px;
  color: #000;
}

.content-prev:hover {
	background-color: #d9d9d9;
}

.content-prev:active{
		opacity: 0.08;
}

.pagination-number {
	margin: 25px 10px;
	opacity: 0.3
}
.number-active {
	opacity: 1;
}

.content-next  {
	float: right;
	width: 85px;
  padding: 25px 20px;
  color: #000;
}

.content-next:hover {
	background-color: #d9d9d9;
}

.content-next:active{
		opacity: 0.08;
}