

@font-face {
    font-family: Gilroy Extra Bold;
    src: url(../fonts/gilroy/Gilroyextrabold.ttf);
}
@font-face {
    font-family: Gilroy Light;
    src: url(../fonts/gilroy/Gilroylight.ttf);
}
@font-face {
    font-family: Open Sans Regular;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open Sans Light;
    src: url(../fonts/open_sans/OpenSans-Light.ttf);
}

.body {
	padding: 0;
	margin: 0;
}

.container {
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.main-header {
	width: 1040px;
	padding: 18px 60px 23px;
	margin-right: 0;
	background-color: #f7e296;
	box-shadow: inset 0 40px 0 0 white;
}

.logo {
	width: 200px;
	font-family: Gilroy Extra Bold, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
}


.logo-header a {
	color: #000;
	text-decoration: none;
}

.logo-header a:hover {
	color: #444;
}
.logo-header a:active {
	color: #666;
}

.user-block:after {
	content: "";
	display: table;
	clear: both;
}

.search-form {
	position: relative;
	float: left;
	padding-left: 20px;
	border-bottom: 2px solid #000;
}

.search-form:before {
	content: "";
	position: absolute;
  top: 17px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 0;
}
/*.search-form:hover {
	opacity: 0.6;
}

#search:focus {
	display: "";
	opacity: 1;
	border-bottom: 2px solid #000;
}*/

#search {
	width: 355px;
	font-size: 15px;
	padding: 6px 0 4px 10px;
	border: none;
	background: #f7e296;
}

#search-bttn {
	font-size: 15px;
	padding: 15px 19px 16px 19px;
	border: 2px solid #000;
	background: #f7e296;
}

.user-btms {
	float: right;
}

.user-link {
	font-family: Open Sans Regular, Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: #000;
	padding-left: 60px;
}
.enter,
.compare,
.basket {
	position: relative;
}

.enter, 
.compare {
	padding-left: 20px;

}

.compare {
	margin-left: 180px;
}

.user-link:hover {
	opacity: 0.5;
}

.user-link:active {
	opacity: 0.3;
}

.enter::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -26px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -48px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 40px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -68px;
}


.main-nav {
	width: 1040px;
	padding: 0;
}

.main-nav li {
	display: inline-block;
}

.main-nav a {
	font-family: Gilroy Extra Bold, Arial sans-serif;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-bttm,
.main-nav-catalog {
	float: left;
	margin-left: 37px
}

.main-nav a:hover {
	opacity: 0.6
}

.main-nav a:active {
	opacity: 0.3
}

.main-nav-catalog {
	position: relative;
	padding-right: 25px;
	margin-right: 285px;
	margin-left: 0;
}

.main-nav-contacts {
	float: right; 
}

.main-nav:after {
	content: "";
	display: table;
	clear: both;
}

.main-nav-catalog a {
	padding-right: 25px;
}

.main-nav-catalog:hover .sub-menu {
	display: block;
}

.sub-menu {
	display: none;
	position: absolute;
	left: -60px;
	width: 1100px;
	padding-left: 60px;
	padding-bottom: 45px;
	background-color: #f7e296;

}

.sub-menu-row {
	float: left;
	width: 210px;
	padding: 0; 
}

.sub-menu-row:first-child {
	padding-right: 40px;
}

.sub-menu a {
	font-family: Open Sans Light, Arial, sans-serif;
	text-transform: none;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0;
	opacity: 0.5;
}



 слайдер
}


.slider-page {
	display: block;
	position: relative;
	width: 1040px;
  height: 500px;
  margin: 0 auto;
}

.number-background {
  width: 1160px;
  height: 122px;
  margin-top: -8px;
  margin-left: -60px;
  background: #ffe27f;
}

.number {
  width: 1040px;
  font-size: 179.2px;
  font-weight: bold;
  margin-top: -60px;
  text-align: right;
  color: white;
  padding-left: 25px;
}

.img-block {
  position: absolute;
  top: 10px;
}

.slider-text  h2 {
	font-size: 47px;
	line-height: 55px;
}

.device-description {
	margin-top: -20px;
	width: 557px;
	opacity: 0.75;
}


.slider-text {
  position: absolute;
  top: -55px;
  left: 430px;
  display: inline-block;
  width: 580px;
  margin-left: 100px;
  vertical-align: top;
  margin-top: 95px;
  line-height: auto;
}


.line-through {
  display: block;
  height: 4px;
  width: 215px;
  margin-top: 50px;
  background:  #ffe27f;
}

.line-through > a {
  position: absolute;
  top: 265px;
  left: 55px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.device-table {
  width: 460px;
  height: 60px;
  margin-top: 20px; 
}

.device-table .table-row {
	display: inline-block;
	margin-right: 80px;

}

.device-table .table-row:last-child {
	margin-right: 0;
}

.up-cell {
	font-size: 36px;
}

.down-cell {
	opacity: 0.75;
}

.slider-img3 {
	position: absolute;
  top: 70px;
  left: -40px;
}


.slider {
  position: relative;
  top: 850px;
  right: 1000px;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.slider-slides .slider-page {
    float: left;
    width: 1040px;
    height: 505px;
    margin: 0 60px;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: #cccccc;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
} 
