

@font-face {
    font-family: Gilroy Extra Bold;
    src: url(../fonts/gilroy/Gilroyextrabold.ttf);
}
@font-face {
    font-family: Gilroy Light;
    src: url(../fonts/gilroy/Gilroylight.ttf);
}
@font-face {
    font-family: Open Sans Regular;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open Sans Light;
    src: url(../fonts/open_sans/OpenSans-Light.ttf);
}

.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear:both;
}

.header {
	width: 1040px;
	padding: 0 60px;
	background: #ffe27f;
	box-shadow: inset 0 23px 0 0 white;	
}

.logo {
	width: 190px;
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	margin-left: -2px;
}

.logo-header a {
	color: #000;
	text-decoration: none;
}

.logo-inactive {
	cursor: default;
}

.logo-header a:hover {
	color: #444;
}

.logo-header a:active {
	color: #666;
}

.top-menu {
	width: 1040px;
	margin-top: 10px;
}

.search-form {
	position: relative;
	float: left;
	border-bottom: 2px solid #000;;
}

#search {
	width: 355px;
	font-family: Open Sans Regular, Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	padding-left: 36px;
	background: #ffe27f;
	border: none;
}

.search-form:before {
	position: absolute;
	top: 18px;
  left: 4px;
	content: "";
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 0;
}

#search-bttn {
	width: 85px;
	height: 48px;
	font-family: Open Sans Regular, Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	background: #ffe27f;
	border: 2px solid #000;
	border-bottom: none;
}

.header-user-block {
	width: 500px;
	float: right;
	font-family: Open Sans Regular, Arial, sans-serif;;
	font-size: 15px;
	line-height: 36px;
	text-align: right;
	padding-top: 6px;
  padding-bottom: 15px;
}

.header-user-link {
	position: relative;
	margin-left: 36px;
	padding-left: 22px;
	text-decoration: none;
	color: #000;
}

.enter {
	margin-left: 0;
	margin-right: 170px;
	padding-left: 26px;
}

.header-user-link:hover {
	opacity: 0.5;
}

.header-user-link:active {
	opacity: 0.3;
}

.enter::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -26px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -48px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat 0 -68px;
}

.header-nav {
	width: 1040px;
	padding-bottom: 25px;
}

.menu a {
	font-family: Gilroy Extra Bold, Arial sans-serif;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 3px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.menu a:hover {
	opacity: 0.6
}

.menu a:active {
	opacity: 0.3
}

.menu li {
	display: inline-block;
	list-style: none;
}

.menu-catalog {
	float: left;
	margin-left: -40px;
	margin-right: 294px;
}

.nav-bttm {
	margin-left: 35px;
}

.menu-contacts {
	float: right;
}

.menu-catalog:hover .sub-menu {
	display: block;
}

.sub-menu {
	display: none;
	position: absolute;
	z-index: 100;
	width: 1100px;
	padding-top: 10px;
	padding-bottom: 39px;
	padding-left: 60px;
	margin-left: -60px;
	background-color: #ffe27f;
}

.sub-menu-row {
	float: left;
	width: 210px;
	padding: 0; 
}

.sub-menu-row:first-child {
	padding-right: 40px;
}

.sub-menu a {
	font-family: Open Sans Light, Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0;
	opacity: 0.5;
	text-transform: none;
}
/*==============================================================================================*/
 /*слайдер товаров*/

.slider {
	position: relative;
	width: 1160px;
	min-height: 500px;
	margin-top: 0;
	margin-bottom: 100px;
}

.slide {
	position: absolute;
	width: 1160px;
	min-height: 480px;
}

.number-background {
	position: relative;
  width: 1110px;
  height: 115px;
  background: #ffe27f;
  font-family: Gilroy Extra Bold, Arial, sans-serif;
  font-size: 179px;
  line-height: 160px;
  text-align: right;
  padding-right: 50px;
  color: #fff;
}

.number-background:before {
	width: 100px;
	height: 7px;
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: 42px;
	right: 461px;
	z-index: 1;
	background: white;
}

.slider-inner {
	position: relative;
	margin-top: -110px;
}

.img-block {
	float: left;
	width: 530px;
	text-align: center;
	margin-left: 16px;
}


.slider-text {
	float: right;
	width: 500px;
	margin-right: 62px;
	margin-top: 40px;
}

.slider-text .kvadrokopter {
	width: 500px
}

.slider-text  h2 {
	width: 400px;
	font-family:  Gilroy Extra Bold;
	font-size: 47px;
	line-height: 55px;
	margin-bottom: 20px;
}

.device-description {
	width: 480px;
	font-family: Open Sans Light, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 53px;
}

.line-through {
	font-family: Gilroy Extra Bold;
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
  margin-left: 44px;
}

.line-through:after {
  content: "";
  display: table;
  width: 220px;
  height: 8px;
  background: #f7e296; 
  margin-top: -15px;
}

.line-through:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -17px;
  background: #ffe27f;
}

.line-through:active {
  color: rgba(0, 0, 0, 0.3);
}

.device-table {
	width: 500px;
}

.table-row {
	display: inline-block;
	margin-right: 70px;
	margin-top: 35px;
}

.up-cell {
	font-family: Gilroy Light, Arial, sans-serif;
	font-size: 36px;
	line-height: 64px;
	margin: 0;
}

.down-cell {
	font-family: Open Sans Light, Arial, sans-serif;
	font-size: 13px;
	line-height: 13px;
	margin-top: 5px;
}

.slide {
	display: none;
    
}

.slide:first-child {
    display: block;
}
/*==============================================================================================*/
/*список категорий товаров*/

.category-list {
	width: 1160px;
	padding: 0;
	margin-bottom: 90px;
}

.category-list li {
	float: left;
	list-style: none;
	text-align: left;
	margin-left: 40px;
	padding: 0;
}

.category-list li:first-child{
	margin-left: 0;
}

.category-icon {
	display: inline-block;
	position: relative;
	width: 160px;
	height: 160px;
}

.category-list .visual-reality {
	background: #ffe27f url(../img/popular-1.png) no-repeat 50% 50%;
}

.category-list .monopods {
	background: #ffe27f url(../img/popular-2.png) no-repeat 50% 45px;
}

.category-list .cameras {
	background: #ffe27f url(../img/popular-3.png) no-repeat 50% 50%;
}

.category-list .bracelet {
	background: #ffe27f url(../img/popular-4.png) no-repeat 50% 50%;
}

.category-list .watches {
	background: #ffe27f url(../img/popular-5.png) no-repeat 50% 50%;
}

.category-list .quadrocopters {
	background: #ffe27f url(../img/poppular-6.png) no-repeat 50% 50%;
}

.category-icon a {
	position: absolute;  
  top: 0;  
  left: 0; 
  z-index: 1;  
  display: block;  
  width: 100%;  
  height: 100%;     
}

.category-text {
	display: block;
	width: 150px;
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
	color: #000;
	margin-top: 35px;
}
/*==============================================================================================*/
/* слайдер-услуг*/

.service-background {
	width: 100%;
	height: 288px;
	padding-bottom: 90px;
	background: #e6e6e6;
	box-shadow: inset 0 100px 0 0 white;
}

.service-bttms{
	float: left;
	width: 255px;
	min-height:320px;
	padding-right: 22px;
	border: none;
	border-right: 7px solid black;
}

.service-line-through {
	display: inline-block;
	width: 165px;
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	text-align: center;
	margin-bottom: 51px;
	cursor: pointer;
}

.shipping {
	margin-top: 91px;
}

.service-line-through:after {
  content: "";
  display: table;
  width: 220px;
  height: 8px;
  background: #f7e296; 
  margin-top: -13px;
}

.service-line-through:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -15px;
  background: #ffe27f;
}
.service-line-through:active {
	color: #ffe27f;
}

.service-line-through:active:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -15px;
  background: #000;
}

.service-slider {
	position: relative;
	width: 1160px;
}

.service-slide {
	position: absolute;
	right: 0;
	float: right;
	width: 510px;
	margin-top: 30px;
	padding-right: 250px;
}

.delivery-slide:after {
	content: "";
	position: absolute;
	top: 55px;
	right: 65px;
	width: 136px;
	height: 164px;
	background: url(../img/delivery.png) no-repeat;
}

.warranty-slide:after {
	content: "";
	position: absolute;
	top: 55px;
	right: 65px;
	width: 171px;
	height: 195px;
	background: url(../img/warranty.png) no-repeat;
}

.credit-slide:after {
	content: "";
	position: absolute;
	top: 55px;
	right: 65px;
	width: 156px;
	height: 188px;
	background: url(../img/credit.png) no-repeat;
}

.service-slide h2 {
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 47px;
	line-height: normal;
	margin-bottom: 25px;
}

.service-slide p {
	width: 420px;
	font-family: Open Sans Light, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

.service-slide {
	display: none;
}

.delivery-slide {
	display: block;
}

/*==============================================================================================*/
/*блок партнеров*/

.partner {
	width: 1160px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0;
}

.partner-block {
	display: inline-block;
	margin: 0 17px;
	opacity: 0.2;
}

.partner-block:first-child {
	margin-left: 0;
}

.partner-block:last-child {
	margin-right: 0;
}

.partner-block:hover{
	opacity: 1;
}

/*==============================================================================================*/
/*Блок "Информацыя о компании"*/

.company-info {
	width: 1160px;
	margin-bottom: 92px;
}

.about-us {
	position: relative;
	float: left;
}

.about-us:before {
	width: 80px;
	height: 7px;
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: -13px;
	left: 0;
	z-index: 1;
	background: #000;
}

.about-us h2 {
	font-family: 
}

.about-us p {
	width: 470px;
}

.contacts {
	position: relative;
	float: right;
}

.contacts:before {
	width: 80px;
	height: 7px;
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: -13px;
	left: 0;
	z-index: 1;
	background: #000;
}

.contacts p {
	width: 540px;
}


.company-info h2 {
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 47px;
	line-height: 53px;
}

.company-info p {
	font-family: Open Sans Regular, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	margin-top: 30px;
}

.delivery-list {
	margin-top: 32px;
	margin-bottom: 70px;
	padding-left: 0;
}

.delivery-list li {
	position: relative;
	display: block;
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	padding-top: 10px;
	padding-left: 35px;
	list-style: none;
}

.delivery-list li:before {
	position: absolute;
	top: 17px;
	left: 0;
	width: 4px;
  height: 4px;
  content:"";
  float:left;
  margin:1px;
  border: 3px solid #000;
  border-radius: 50%;
	opacity: 0.3;
}

.about-us-bttm-line {
	display: inline-block;
	font-family: Gilroy Extra Bold;
	font-size: 18px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
  margin-left: 20px;
}

.about-us-bttm-line:after {
  content: "";
  display: table;
  width: 260px;
  height: 8px;
  background: #f7e296; 
  margin-top: -14px;
  margin-left: -20px;
}

.about-us-bttm-line:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -17px;
  background: #ffe27f;
}

.about-us-bttm-line:active {
  color: rgba(0, 0, 0, 0.3);
}

.contacts img {
	margin-top: 25px;
	margin-bottom: 74px;
}

.contacts-bttm-line {
	display: inline-block;
	font-family: Gilroy Extra Bold;
	font-size: 18px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
  margin-left: 40px;
}

.contacts-bttm-line:after {
  content: "";
  display: table;
  width: 260px;
  height: 8px;
  background: #f7e296; 
  margin-top: -14px;
  margin-left: -40px;
}

.contacts-bttm-line:hover:after {
  height: 40px;
  margin-top: -30px;
  margin-bottom: -17px;
  background: #ffe27f;
}

.contacts-bttm-line:active {
  color: rgba(0, 0, 0, 0.3);
}

/*==============================================================================================*/
/*Футер*/

.main-footer {
	width: 100%;
	background: #444;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-top {
	width: 1160px;
	margin: 0 auto;
}

.footer-logo {
	float: left;
	color: #ffe27f;
}

.footer-logo:hover {
	color: #ffc600;
}

.footer-logo:active {
	opacity: 0.3;
}

.footer-user-block {
	width: 360px;
	float: right;
	text-align: right;
}

.footer-user-link {
	position: relative;
	display: inline-block;
	font-family: Open Sans Regular, Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: white;
	text-decoration: none;
	padding-left: 20px;
	margin-left: 35px;
	opacity: 0.7;
}
.footer-user-link::before {
	content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat;
}

.enter-footer::before  {
	background-position: 0px -340px;
}

.compare-footer::before  {
	background-position: 0px -320px;
}

.basket-footer::before  {
	background-position: 0px -298px;
}

.enter-footer:hover:before {
	background: url(../img/sprite.png) no-repeat 0 -362px;
}

.compare-footer:hover:before {
	background: url(../img/sprite.png) no-repeat 0 -384px;
}

.basket-footer:hover:before {
	background: url(../img/sprite.png) no-repeat 0 -404px;
}

.enter-footer:active:before {
	background: url(../img/sprite.png) no-repeat 0 -362px;
	opacity: 0.3;
}

.compare-footer:active:before {
	background: url(../img/sprite.png) no-repeat 0 -384px;
	opacity: 0.3;
}

.basket-footer:active:before {
	background: url(../img/sprite.png) no-repeat 0 -404px;
	opacity: 0.3;
}

.footer-middle {
	width: 1160px;
	margin: 0 auto;
	margin-top: 20px;
}

.addres {
	display: inline-block;
}

.addres a {
	width: 250px;
	font-family: Open Sans Light, Arial, sans-serif;
	font-size: 15px;
	line-height: 32px;
	color: #fff;
	text-decoration: none;
}

.footer-nav {
	display: inline-block;
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	margin: 0 105px;
}

.footer-nav li {
	display: inline-block;
	list-style: none;
	margin: 10px 14px;
}

.footer-nav a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fff;
}

.footer-nav a:hover {
	opacity: 0.6;
}

.footer-nav a:active {
	opacity: 0.3;
}

.phone {
	display: inline-block;
	text-align: right;
	margin-left: 76px;
}

.phone a {
	font-family: Open Sans Light, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}

.phone a:hover {
	opacity: 0.6;
}

.phone a:active {
	opacity: 0.3;
}

.footer-bottom {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	margin-top: 55px;
	text-align: center;
	vertical-align: middle;
}

.footer-bottom:before {
	content: "";
	display: block; 
	position: absolute;
	top: 50%;
	width: 80px;
	height: 7px;
	background-color: #ffe27f;
}

.social-block {
	display: inline-block;
	width: 196px;
	margin-left: 15px;
}

.social-bttn {
	margin-right: 12px;
	text-decoration: none;
	opacity: 0.3;
}

.social-bttn:hover {
	opacity: 1;
}

.social-bttn:active {
	opacity: 0.1;
}

.html-academy {
	content: "";
	display: block; 
	position: absolute;
	top: 0;
	right: 0;
	width: 27px;
	height: 34px;
	margin-left: 440px;
	background: url(../img/sprite2.png) no-repeat 0 0;
}

.html-academy a {
	position: absolute;  
  top: 0;  
  left: 0; 
  z-index: 1;  
  display: block;  
  width: 100%;  
  height: 100%;     
}

.html-academy:hover {
	background-position: 0 -44px;
}

.html-academy:active {
	background: url(../img/sprite2.png) no-repeat 0 -44px;
	opacity: 0.3;
}
/*==============================================================================================*/
/*Страница каталога*/

.content-head h1 {
	font-family: Gilroy Extra Bold, Arial, sans-serif;
	font-size: 47px;
	line-height: 47px;
}